{% extends "base.html" %}

{% block content %}
<div>
    <h1>Редактор БД</h1>
    <ul>
        <li>
            <a href="/addressa">Адреса</a>
        </li>
        <li>
            <a href="/oteli">Отели</a>
        </li>
        <li>
            <a href="/roli">Роли</a>
        </li>
        <li>
            <a href="/pasporta">Паспорта</a>
        </li>
        <li>
            <a href="/zagranpasporta">Загранпаспорта</a>
        </li>
        <li>
            <a href="/dannie-autorizatsii">Данные авторизации</a>
        </li>
        <li>
            <a href="/polzovateli">Пользователи</a>
        </li>
        <li>
            <a href="/turoperatori">Туроператоры</a>
        </li>
        <li>
            <a href="/putevki">Путёвки</a>
        </li>
        <li>
            <a href="/zakazi">Заказы</a>
        </li>
        <li>
            <a href="/zakazi_polzovateley">Заказы пользователей</a>
        </li>
    </ul>
</div>
{% endblock content %}