{% extends "base.html" %}

{% block content %}
    <h1>Список туроператоров</h1>
    <table>
        <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Данные авторизации</th>
                <th>ИНН</th>
                <th>КПП</th>
                <th>Компания</th>
                <th colspan="2">Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for turoperator in turoperatori %}
                <tr>
                    <td>{{ turoperator.id }}</td>
                    <td>{{ turoperator.dannie_autorizatsii }}</td>
                    <td>{{ turoperator.inn }}</td>
                    <td>{{ turoperator.kpp }}</td>
                    <td>{{ turoperator.nazvanie_companii }}</td>
                    <td>
                        <a href="/turoperatori/{{ turoperator.id }}">Редактировать</a>
                    </td>
                    <td>
                        <form
                            method="POST"
                            action="/turoperator/delete/{{ turoperator.id }}"
                            onsubmit="return confirm('Вы действительно хотите удалить адрес: {{ turoperator }}?')"
                        >
                            {% csrf_token %}

                            <button type="submit">Удалить</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br />
    <a href="/turoperator">Добавить нового туроператора</a>

    <style>
        th {
            text-align: left;
        }

        th, td {
            padding: 8px;
        }

        table, tr, td, th {
            border: 1px solid black;
        }

        table {
            border-collapse: collapse;
        }
    </style>
{% endblock content %}