{% extends "base.html" %}

{% block content %}
    <h1>Список адресов</h1>
    <table>
        <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Название роли</th>
                <th colspan="2">Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for role in roli %}
                <tr>
                    <td>{{ role.id }}</td>
                    <td>{{ role.opisanie }}</td>
                    <td>
                        <a href="/roli/{{ role.id }}">Редактировать</a>
                    </td>
                    <td>
                        <form
                            method="POST"
                            action="/role/delete/{{ role.id }}"
                            onsubmit="return confirm('Вы действительно хотите удалить роль: {{ role.opisanie }}?')"
                        >
                            {% csrf_token %}

                            <button type="submit">Удалить</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br />
    <a href="/role">Добавить новую роль</a>

    <style>
        th {
            text-align: left;
        }

        th, td {
            padding: 8px;
        }

        table, tr, td, th {
            border: 1px solid black;
        }

        table {
            border-collapse: collapse;
        }
    </style>
{% endblock content %}